.main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  z-index: 99;
}

.main-sidenav-container {
  width: 100%;
  display: flex;
  flex-grow: 1;
  background-color: #ffffff;
}

.page-content {
  background: none;
  height: 100%;
  width: 100%;
}

.sidenav {
  height: 100%;
}
