.resource-array-view {
  display: flex;
  flex-direction: column;
  min-height: 36px;
  padding: 10px 0 0 0;
}

.title {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.exp-panel-add-element-btn {
  margin-right: 10px;
  transform: scale(1.2);
}

.no-title-exp-panel-padding {
  padding: 10px;
}
