<div class="page-container">
  <div class="header-container">
    <div class="title" [class.title-without-back]="title()">
      @if (title() !== '') {
        <h1>{{ title() }}</h1>
      }
    </div>
  </div>

  @if (hasElements() || configs().length > 0) {
    <div class="resource-container" [class.empty-elements]="!hasElements()">
      @let primaryConfigRef = primaryConfig();
      @if (primaryConfigRef.type === 'View' || primaryConfigRef.type === 'ListView') {
        <ccc-resource-view
          [uuid]="uuid()"
          [config]="primaryConfigRef"
          [relatedData]="resolvedData()"
          [showCreateForm]="missingRoot()"
          [compoundResourceView]="true"
          [navAfterDelete]="navAfterDeleteConsideringRoot()"
          (createChange)="resourceCreate.emit()"
          (deleted)="deleted.emit(true)">
        </ccc-resource-view>
      }

      @for (config of configs(); track config) {
        @let hasrelatedConfigs = 'relatedConfigs' in config && config.relatedConfigs.length > 0;
        @if (hasrelatedConfigs) {
          <compound-resource [uuid]="primaryConfigParentId()" [parentData]="resolvedData()" [resourceConfig]="config">
          </compound-resource>
        } @else if (config.type === 'ListView') {
          <ccc-resource-list-create
            [resourceConfig]="config"
            [parentData]="resolvedData()"
            [isRootList]="false"
            [parentId]="primaryConfigParentId()"
            [compoundResourceComponent]="componentRef">
          </ccc-resource-list-create>
        } @else if (config.type === 'Array') {
          <ccc-resource-array-view
            [resourceConfig]="config"
            [parentData]="store.viewData()"
            [compoundResourceComponent]="componentRef">
          </ccc-resource-array-view>
        } @else if (config.type === 'View') {
          @let relatedId = resolvedData()[config.parentRelation.parentKey] || primaryConfigParentId();
          @if (relatedId) {
            <ccc-resource-view
              [navAfterDelete]="navAfterDeleteConsideringRoot()"
              [uuid]="relatedId + ''"
              [config]="config"
              [relatedData]="resolvedData()"></ccc-resource-view>
          }
        } @else if (config.type === 'Component') {
          <ccc-resource-resolver
            [parentData]="resolvedData()"
            [resourceConfig]="config"
            [compoundResourceComponent]="componentRef">
          </ccc-resource-resolver>
        }
      }
      @if (hasRpcConfigs()) {
        <div class="rpc-buttons-container">
          @for (rpc of rpcConfigs(); track rpc.config.label) {
            <action-access-control-wrapper [actionContext]="rpc.context">
              <ccc-rpc-button
                [rpcConfig]="rpc.config"
                [relatedData]="resolvedData()"
                [primaryResource]="primaryConfig().primaryResource">
              </ccc-rpc-button>
            </action-access-control-wrapper>
          }
        </div>
      }
    </div>
  }
</div>
