.container {
  border: 1px solid #8e8e8e;
  border-radius: 5px;
  position: relative;
  margin-bottom: 20px;
  padding-top: 10px;
}

.label {
  position: absolute;
  top: -15px;
  left: 20px;
  height: 20px;
  background-color: #ffffff;
  margin: 0px 10px 0px 10px;
  padding: 0px 10px 0px 10px;
  text-align: center;
  z-index: 10;
  font-weight: 500;
  font:
    18px 'Roboto',
    sans-serif;
}

.padding {
  width: 100px;
}

.page-container {
  position: relative;
}

.header-container {
  display: flex;
  flex-direction: row;
  top: 0;
  z-index: 11;
  background: transparent;
}

.title {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}

.message {
  margin-top: auto;
  margin-bottom: auto;
}

.state-buttons {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-bottom: auto;
  justify-content: right;
  flex-grow: 1;
  gap: 20px;
  margin-right: 20px;
}

.mode-text {
  margin-top: auto;
  margin-bottom: auto;
}

.resource {
  margin: 10px;
}

.section h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ccc;
  padding-bottom: 8px;

  margin-bottom: 100px;
}
.section {
  margin-top: 15px;
}

.divider {
  margin: 16px 0;
}

.section-elements {
  display: flex;
  flex-wrap: wrap;
}

.mat-input-element:disabled[readonly] {
  color: currentColor;
}

.unsaved {
  color: #f44336;
}

.edit-button {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 10px;
}

.button-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  .edit {
    color: #003b49;
  }

  .mat-icon {
    margin-right: 8px;
  }
}

.shaded {
  background-color: #e9e9e9;
}

.rounded {
  border-radius: 8px;
}

.dotted-outline {
  border: 1px dotted #ccc;
  padding: 8px;
}

.margin-top {
  margin-top: 50px;
}

.resource-view {
  display: flex;
  flex-direction: column;
  min-height: 36px;
  padding: 10px 0 0 0;
}

.no-title-exp-panel-padding {
  padding: 10px;
}

.base-container-bg {
  background-color: var(--ccc-background-color);
}
